In [1]:
# Premiers pas en python
# Exos1:
t=6.892
d=19.7
v=d/t
print(v)

2.8583865351131745

In [2]:
t=6.892
d=19.7
v=d//t
print(v)

2.0

In [3]:
# exo2:Saisir un nom et un âge en utilisant l’instruction input()
a=input('ton nom?')

ton nom?Saïd

In [4]:
print(a)

Saïd

In [5]:
b=input('âge?')

âge?35

In [6]:
print(b)

35

In [7]:
a=raw_input('ton nom?')

NameError: name 'raw_input' is not defined

In [4]:
# "Contôle du flux d'instructions"
# exo1:
import math as ma
a=3.14569
if a>=0:
    i=ma.sqrt(a)
    print(i)
    else:
        print "error"

SyntaxError: invalid syntax (<ipython-input-4-9bf5ddbcde91>, line 8)

In [5]:
# exo6: Afficher chaque caractère d'une chaîne
for i in "ecriture":
    print(i)

e
c
r
i
t
u
r
e

In [6]:
# Afficher chaque élément d’une liste en utilisant une boucle for
classe=['Ali', 10, 'prof', 'garçon', 'fille', 'toiletes']
for i in classe:
    print(i)

Ali
10
prof
garçon
fille
toiletes

In [21]:
#exo7:Affichez les entiers de 0 à 15 non compris, de trois en trois, en utilisant une boucle for

for i in range(15):
    i=i*3
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42

In [22]:
# Structures de données python
#exo1: 
L =[17, 38, 10, 25, 72]
#tri par ordre croissant
L.sort()
print(L)

[10, 17, 25, 38, 72]

In [23]:
#tri par ordre décroissant 
L.sort(reverse=True)
print(L)

[72, 38, 25, 17, 10]

In [25]:
 # Ajouter l’élément 12 à la liste et affichez la liste
L.append(12)
print(L)

[72, 38, 25, 17, 10, 12]

L.index(17)

In [26]:
#  Afficher l’indice de l’élément 17 
L.index(17)

3

In [27]:
# Enlever l'élément 38 et afficher la liste
L=[72, 38, 25, 17, 10, 12]
L.remove(38)
print(L)

[72, 25, 17, 10, 12]

In [28]:
# Afficher la sous-liste du 2eme au 3eme élément
L=[72, 38, 25, 17, 10, 12]
print(L[1:3])

[38, 25]

In [29]:
#  Afficher la sous-liste du début au 2e élément 
print(L[:2])

[72, 38]

In [30]:
#  Afficher la sous-liste du 3eélément à la fin de la liste 

print(L[2:-1])

[25, 17, 10]

In [31]:
# Afficher la sous-liste complète de la liste
l =[25, 17, 10]
l.extend([12])
print(l)

[25, 17, 10, 12]

In [32]:
# Afficher le dernier élément en utilisant un indiçage négatif
print(L[-1])

12